# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/bochs.log
obj/.deps
obj/boot/boot
*.asm
*.img
*.sym

obj/user/quicksort
obj/user/mergesort_noleakage
obj/user/quicksort
obj/user/quicksort1
obj/user/quicksort
obj/user/mergesort_noleakage
obj/user/mergesort_leakage
obj/user/heap_program
obj/user/fos_alloc
obj/user/ef_mergesort_noleakage
obj/user/ef_mergesort_leakage
obj/user/arrayOperations_stats
obj/user/arrayOperations_quicksort
obj/user/arrayOperations_mergesort
obj/kern/kernel
obj/user/tst_best_fit_2
obj/user/tst_best_fit_1
obj/user/tst_air_customer
obj/user/tst_air_clerk
obj/user/tst_air_clerk
obj/user/test_trim1_c
obj/user/quicksort_semaphore
obj/user/quicksort_noleakage
obj/user/quicksort_interrupt
obj/user/tst_free_1
obj/user/tst_first_fit_3
obj/user/tst_first_fit_1
obj/user/tst_first_fit_2
obj/user/mergesort_leakage
obj/user/fos_alloc
obj/user/heap_program
obj/user/quicksort1
obj/user/quicksort
obj/user/quicksort2
obj/user/tst_best_fit_1
obj/user/tst_best_fit_2
obj/user/tst_buffer_3
obj/user/tst_first_fit_1
obj/user/tst_first_fit_2
obj/user/tst_first_fit_3
obj/user/tst_free_1
obj/user/tst_free_2
obj/user/tst_freeHeap_1
obj/user/tst_free_3
obj/user/tst_free_2
obj/user/tst_freeHeap_2
obj/user/tst_malloc
obj/kern/kernel
